.wrapper {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  height: 4rem;
  justify-content: space-between; /* centralizar elementos (esq., centro, dire.) */
  align-items: center;
  background-color: var(--gray-400); 
  color: var(--gray-100);
  border-bottom: 1px solid orange;
}

.wrapper .titleHeader {
  font-size: 2em;
}

.wrapper .optionsHeader {
  display: flex;
  flex-direction: row;
  margin: 0.25rem;
  padding: 0.50rem;
  gap: 10px;
}