@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* background & color */
  --gray-700: #0d0d0d;
  --gray-600: #1a1a1a;
  --gray-500: #262626;
  --gray-400: #333333;
  --gray-300: #808080;
  --gray-200: #d9d9d9;
  --gray-100: #f2f2f2;

  /* produto */
  --blue-dark: #1e6f9f;
  --blue: #4ea8de;
  --purple-dark: #5e60ce;
  --purple: #8284fa;

  --orange: rgb(255, 120, 10);

  /* feedback */
  --danger: #e25858;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--gray-100);
}

::-webkit-scrollbar {
  width: 12px; /* largura da barra de rolagem */
}

::-webkit-scrollbar-track {
  background: #ffe5cc; /* cor de fundo do track da barra */
}

::-webkit-scrollbar-thumb {
  background-color: #ff8c42;
  border-radius: 8px;
  border: 2px solid #ffe5cc; 
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ff7b24;
}
